/* Main Styles */
:root {
    --text-color: #0D2227;
    --background-color: #fffffc;
    --accent-color: #F0C152;
    --banner-color: #187199;
    --sidebar-color: #63BBE3;
    --button-color: #187199;
    --button-hover: rgb(226, 228, 232);
    --card-color: var(--background-color);
    --white: #fff;
}

.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
/* .contact-container {
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow: hidden;
    background-color: #fff;
    align-items: stretch; /* This makes sure it stretches to the size of the inputContainer */



.imgContainer {
    flex: 1;
    
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    flex-basis: 100%;
}
.imgContainer p, h2{
    text-align: left;
}

.imgContainer img {
    max-width: 65%;
    max-height: 65%;
    object-fit: contain;
}

.inputContainer {
    flex: 1;
    flex-basis: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontally center the inputs */
}

/* Input and Button Styles */
.inputRow {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    justify-content: center; /* Center the input fields and icons */
}

textarea {
    width: 100%;
    max-width: 300px; /* Consistency with other inputs */
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: calc(3 * (1em + 20px)); /* 3x height of the other input fields */
}

.inputIcon {
    margin-right: 10px;
}

input[type="text"],
input[type="email"],
.contact-container button {
    width: 100%;
    max-width: 300px; /* Limit the maximum width */
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
   
}

/* Responsiveness */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }
}
