.check-your-date-form {
display: flex;
min-width: 350px;
margin-top: 1em;
padding: 15px;
flex-direction: column;
align-items: center;
border-radius: 0.25em;
background-color: var(--banner-color);
box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 8px;
color: var(--white);
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

.inputRow {
    display: flex;
    width: auto;
    padding: 5px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.homepage-banner {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
