.hide {
    display: none;
}

.confirmation-message {
    padding: 10em;
}

.newsletter-container {
    padding: 0 1em;
    max-width: 1000px;
    margin: 2em auto;
    background-color: #f1f1f1;
}

.newsletter-container h2 {
    margin-top: 0;
}

.form-section {
    padding: 1em;
}

.input-group {
    padding: 1em;
    background-color: white;
}

.input-group input {
    margin: 1em;
}

/* Style the input elements and the submit button */
.newsletter-container input[type=text],
.newsletter-container input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
}

/* Add margins to the checkbox */
.newsletter-container .input-group input[type=checkbox] {
    margin-top: 16px;
}

/* Style the submit button */
.newsletter-container input[type=submit] {
    max-width: 700px;
    background-color: var(--button-color);
    color: white;
    border: none;
}

.newsletter-container input[type=submit]:hover {
    opacity: 0.8;
}
