* {
    box-sizing: border-box;
}

:root {
    --text-color: #0D2227;
    --background-color: #fffffc;
    --accent-color: #F0C152;
    --banner-color: #187199;
    --sidebar-color: #63BBE3;
    --button-color: #187199;
    --button-hover: rgb(226, 228, 232);
    --card-color: var(--background-color);
    --white: #fff;
}

body {
    background-color: var(--background-color);
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25em;
    padding: 0em;
    background-color: var(--banner-color);
}

nav {
    margin-left: 1em;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul a {
    display: inline-block;
    padding: 10px 20px;
    color: var(--white);
    margin-top: .5em;
    margin-bottom: .5em;
}

nav ul a:hover {
    color: var(--accent-color);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.logo {
    width: 200px;
    height: auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

main {
    margin: auto;
    padding: 1em;
    max-width: 1000px;
    text-align: center;
}

h1 {
    margin-top: 1.5em;
    margin-bottom: 0.25em;
}

.information-para {
    max-width: 30em;
    margin: auto;
    font-weight: lighter;
}

/* TODO: consider moving card-related styling to a seperate file */
.card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.card {
    margin: 1em;
    padding: 1em;
    background-color: var(--card-color);
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    align-items: center;
    border-radius: 0.25em;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 8px;
}

.card > button {
    margin-top: auto;
}

button {
    border: none;
    outline: unset;
    background-color: unset;
    font-family: inherit;
    font-weight: unset;
}

.button {
    padding: 1em 2em;
    border-radius: 0.25em;
    text-transform: uppercase;
}

.filled-button {
    background-color: var(--button-color);
    color: var(--white);
}

.outline-button {
    color: var(--white);
    margin: 0.5em;
    border: 1px solid var(--white);
}

header > .outline-button:hover {
    background-color: var(--accent-color);
}

footer {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    padding: 10px;
    background-color: var(--banner-color);
    text-align: center;
    color: var(--white);
    justify-content: space-around;
}

footer a {
    display: inline-block;
    color: var(--white);
}

footer a:hover{
    color: var(--accent-color);
}
